In [271]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [272]:
df1 = pd.read_json("data.json")
df2 = pd.read_json("data2.json")

In [273]:
df = pd.concat([df1, df2], ignore_index=True)
df= df.sample(frac=1).reset_index(drop=True)
df

,country,hourly_price,total_earning,hourly_jobs,fixed_price_jobs,hours_worked,job_success,description,category
0,[Serbia],$15.00,$5k+,\n 3\n hourly jobs\n ...,\n No\n fixed-price jobs...,\n 289\n hours worked\n ...,\n 100% \n Job Success\n ...,\n I am people and result oriented HR pro...,Accounting & Consulting
1,[United States],$135.00,$90k+,\n 5\n hourly jobs\n ...,\n 6\n fixed-price jobs\...,\n 893\n hours worked\n ...,\n 100% \n Job Success\n ...,"\n Hi, I'm Navi. I help mission-driven le...",Data Science & Analytics
2,[United States],$175.00,$1k+,\n 1\n hourly job\n ...,\n 4\n fixed-price jobs\...,\n 1\n hour worked\n ...,,\n Medical device companies face unique c...,Accounting & Consulting
3,[Philippines],$8.00,,,,,\n 94% \n Job Success\n,\n Self -motivated and goal-oriented prof...,Customer Service
4,[Philippines],$25.00,$10k+,\n 7\n hourly jobs\n ...,\n 44\n fixed-price jobs...,\n 272\n hours worked\n ...,\n 96% \n Job Success\n,\n Looking to hire your next superstar? L...,Accounting & Consulting
...,...,...,...,...,...,...,...,...,...
1195,[Philippines],$5.00,$50k+,\n 62\n hourly jobs\n ...,\n 11\n fixed-price jobs...,\n 10316\n hours worked\...,\n 96% \n Job Success\n,\n I am a full time freelancer of data en...,Admin Support
1196,[India],$12.00,$80k+,\n 92\n hourly jobs\n ...,\n 55\n fixed-price jobs...,\n 11265\n hours worked\...,\n 97% \n Job Success\n,\n Looking for a reliable Bookkeeper? Tha...,Accounting & Consulting
1197,[Ukraine],$29.99,,,,,\n 96% \n Job Success\n,\n Hi! My name is Oleksandr.\nI am a desi...,Design & Creative
1198,[Pakistan],$10.00,,,,,,\n My team has completed the following ka...,Data Science & Analytics
1199,[United States],$100.00,,,,,\n 98% \n Job Success\n,\n Senior interior design specialist at g...,Engineering & Architecture

In [274]:
df.head()

,country,hourly_price,total_earning,hourly_jobs,fixed_price_jobs,hours_worked,job_success,description,category
0,[Serbia],$15.00,$5k+,\n 3\n hourly jobs\n ...,\n No\n fixed-price jobs...,\n 289\n hours worked\n ...,\n 100% \n Job Success\n ...,\n I am people and result oriented HR pro...,Accounting & Consulting
1,[United States],$135.00,$90k+,\n 5\n hourly jobs\n ...,\n 6\n fixed-price jobs\...,\n 893\n hours worked\n ...,\n 100% \n Job Success\n ...,"\n Hi, I'm Navi. I help mission-driven le...",Data Science & Analytics
2,[United States],$175.00,$1k+,\n 1\n hourly job\n ...,\n 4\n fixed-price jobs\...,\n 1\n hour worked\n ...,,\n Medical device companies face unique c...,Accounting & Consulting
3,[Philippines],$8.00,,,,,\n 94% \n Job Success\n,\n Self -motivated and goal-oriented prof...,Customer Service
4,[Philippines],$25.00,$10k+,\n 7\n hourly jobs\n ...,\n 44\n fixed-price jobs...,\n 272\n hours worked\n ...,\n 96% \n Job Success\n,\n Looking to hire your next superstar? L...,Accounting & Consulting

In [275]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           1200 non-null   object
 1   hourly_price      1200 non-null   object
 2   total_earning     1200 non-null   object
 3   hourly_jobs       1200 non-null   object
 4   fixed_price_jobs  1200 non-null   object
 5   hours_worked      1200 non-null   object
 6   job_success       1200 non-null   object
 7   description       1200 non-null   object
 8   category          1200 non-null   object
dtypes: object(9)
memory usage: 84.5+ KB

## **Cleaning Data**
 - Tasks to do :
    - Fix Data types problems (e.g deleting `$` from `hourly_price` & `total_earning` columns and then converting it to numerical values, percentage in `job_success` column ...)
    - Take care of missing values  ( missing values were not showing previously in the df.info() output because python interpret an empty string as non-null )

##### fix     `country_column`  :

In [276]:
df["country"]= df["country"].str[0]
df

,country,hourly_price,total_earning,hourly_jobs,fixed_price_jobs,hours_worked,job_success,description,category
0,Serbia,$15.00,$5k+,\n 3\n hourly jobs\n ...,\n No\n fixed-price jobs...,\n 289\n hours worked\n ...,\n 100% \n Job Success\n ...,\n I am people and result oriented HR pro...,Accounting & Consulting
1,United States,$135.00,$90k+,\n 5\n hourly jobs\n ...,\n 6\n fixed-price jobs\...,\n 893\n hours worked\n ...,\n 100% \n Job Success\n ...,"\n Hi, I'm Navi. I help mission-driven le...",Data Science & Analytics
2,United States,$175.00,$1k+,\n 1\n hourly job\n ...,\n 4\n fixed-price jobs\...,\n 1\n hour worked\n ...,,\n Medical device companies face unique c...,Accounting & Consulting
3,Philippines,$8.00,,,,,\n 94% \n Job Success\n,\n Self -motivated and goal-oriented prof...,Customer Service
4,Philippines,$25.00,$10k+,\n 7\n hourly jobs\n ...,\n 44\n fixed-price jobs...,\n 272\n hours worked\n ...,\n 96% \n Job Success\n,\n Looking to hire your next superstar? L...,Accounting & Consulting
...,...,...,...,...,...,...,...,...,...
1195,Philippines,$5.00,$50k+,\n 62\n hourly jobs\n ...,\n 11\n fixed-price jobs...,\n 10316\n hours worked\...,\n 96% \n Job Success\n,\n I am a full time freelancer of data en...,Admin Support
1196,India,$12.00,$80k+,\n 92\n hourly jobs\n ...,\n 55\n fixed-price jobs...,\n 11265\n hours worked\...,\n 97% \n Job Success\n,\n Looking for a reliable Bookkeeper? Tha...,Accounting & Consulting
1197,Ukraine,$29.99,,,,,\n 96% \n Job Success\n,\n Hi! My name is Oleksandr.\nI am a desi...,Design & Creative
1198,Pakistan,$10.00,,,,,,\n My team has completed the following ka...,Data Science & Analytics
1199,United States,$100.00,,,,,\n 98% \n Job Success\n,\n Senior interior design specialist at g...,Engineering & Architecture

##### fix     `hourly_price`  :

In [277]:
df["hourly_price"]=df["hourly_price"].str.strip("$").astype(np.float32)
df

,country,hourly_price,total_earning,hourly_jobs,fixed_price_jobs,hours_worked,job_success,description,category
0,Serbia,15.00,$5k+,\n 3\n hourly jobs\n ...,\n No\n fixed-price jobs...,\n 289\n hours worked\n ...,\n 100% \n Job Success\n ...,\n I am people and result oriented HR pro...,Accounting & Consulting
1,United States,135.00,$90k+,\n 5\n hourly jobs\n ...,\n 6\n fixed-price jobs\...,\n 893\n hours worked\n ...,\n 100% \n Job Success\n ...,"\n Hi, I'm Navi. I help mission-driven le...",Data Science & Analytics
2,United States,175.00,$1k+,\n 1\n hourly job\n ...,\n 4\n fixed-price jobs\...,\n 1\n hour worked\n ...,,\n Medical device companies face unique c...,Accounting & Consulting
3,Philippines,8.00,,,,,\n 94% \n Job Success\n,\n Self -motivated and goal-oriented prof...,Customer Service
4,Philippines,25.00,$10k+,\n 7\n hourly jobs\n ...,\n 44\n fixed-price jobs...,\n 272\n hours worked\n ...,\n 96% \n Job Success\n,\n Looking to hire your next superstar? L...,Accounting & Consulting
...,...,...,...,...,...,...,...,...,...
1195,Philippines,5.00,$50k+,\n 62\n hourly jobs\n ...,\n 11\n fixed-price jobs...,\n 10316\n hours worked\...,\n 96% \n Job Success\n,\n I am a full time freelancer of data en...,Admin Support
1196,India,12.00,$80k+,\n 92\n hourly jobs\n ...,\n 55\n fixed-price jobs...,\n 11265\n hours worked\...,\n 97% \n Job Success\n,\n Looking for a reliable Bookkeeper? Tha...,Accounting & Consulting
1197,Ukraine,29.99,,,,,\n 96% \n Job Success\n,\n Hi! My name is Oleksandr.\nI am a desi...,Design & Creative
1198,Pakistan,10.00,,,,,,\n My team has completed the following ka...,Data Science & Analytics
1199,United States,100.00,,,,,\n 98% \n Job Success\n,\n Senior interior design specialist at g...,Engineering & Architecture

##### fix     `total_earning`  :

In [278]:
df["total_earning"] = df["total_earning"].apply(lambda x : None if x=="" else (int(x.strip("$k+"))*1000 if "k" in x else (int(x.strip("$+M")*1000000 if "M" in x else int(x.strip("$+") )))))

In [279]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           1200 non-null   object
 1   hourly_price      1200 non-null   float32
 2   total_earning     1042 non-null   float64
 3   hourly_jobs       1200 non-null   object
 4   fixed_price_jobs  1200 non-null   object
 5   hours_worked      1200 non-null   object
 6   job_success       1200 non-null   object
 7   description       1200 non-null   object
 8   category          1200 non-null   object
dtypes: float32(1), float64(1), object(7)
memory usage: 79.8+ KB

##### fix     `hourly_jobs` , `fixed_price_jobs` , `hours_worked`, `job_success`  :

In [280]:
# hourly_jobs column :
df["hourly_jobs"] = df["hourly_jobs"].apply(lambda x : None if x=="" else( int(re.findall('[0-9]+', x)[0]) if len(re.findall('[0-9]+', x)) >0 else 0))
df["hourly_jobs"].astype(pd.Int32Dtype())
# fixed_price_jobs column :
df["fixed_price_jobs"] = df["fixed_price_jobs"].apply(lambda x : None if x=="" else( int(re.findall('[0-9]+', x)[0]) if len(re.findall('[0-9]+', x)) >0 else 0))
df["fixed_price_jobs"].astype(pd.Int32Dtype())

# hours_worked column :
df["hours_worked"] = df["hours_worked"].apply(lambda x : None if x=="" else( int(re.findall('[0-9]+', x)[0]) if len(re.findall('[0-9]+', x)) >0 else 0))
df["hours_worked"].astype(pd.Int32Dtype())

# job_success column :
df["job_success"] = df["job_success"].apply(lambda x : None if x=="" else( float(re.findall('[0-9]+', x)[0])/100 if len(re.findall('[0-9]+', x)) >0 else 0))

In [281]:
df

,country,hourly_price,total_earning,hourly_jobs,fixed_price_jobs,hours_worked,job_success,description,category
0,Serbia,15.00,5000.0,3.0,0.0,289.0,1.00,\n I am people and result oriented HR pro...,Accounting & Consulting
1,United States,135.00,90000.0,5.0,6.0,893.0,1.00,"\n Hi, I'm Navi. I help mission-driven le...",Data Science & Analytics
2,United States,175.00,1000.0,1.0,4.0,1.0,NaN,\n Medical device companies face unique c...,Accounting & Consulting
3,Philippines,8.00,NaN,NaN,NaN,NaN,0.94,\n Self -motivated and goal-oriented prof...,Customer Service
4,Philippines,25.00,10000.0,7.0,44.0,272.0,0.96,\n Looking to hire your next superstar? L...,Accounting & Consulting
...,...,...,...,...,...,...,...,...,...
1195,Philippines,5.00,50000.0,62.0,11.0,10316.0,0.96,\n I am a full time freelancer of data en...,Admin Support
1196,India,12.00,80000.0,92.0,55.0,11265.0,0.97,\n Looking for a reliable Bookkeeper? Tha...,Accounting & Consulting
1197,Ukraine,29.99,NaN,NaN,NaN,NaN,0.96,\n Hi! My name is Oleksandr.\nI am a desi...,Design & Creative
1198,Pakistan,10.00,NaN,NaN,NaN,NaN,NaN,\n My team has completed the following ka...,Data Science & Analytics
1199,United States,100.00,NaN,NaN,NaN,NaN,0.98,\n Senior interior design specialist at g...,Engineering & Architecture

In [282]:
df.to_json("processed.json",orient="records")